@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  box-sizing: border-box;
}

body {
    background-color: rgba(38, 126, 173, 1);;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    transition: all 0.3s ease-in-out;
}

.container {
    padding: 20px 40px;
    border-radius: 10px;
    background-color: rgba(7, 27, 87, 1);
    transition: all 0.3s ease-in-out;
}

.container h1 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 30px;
    text-align: center;
}

.container a {
    color: #fff;
    text-decoration: none;
    
}

.btn {
    display: inline-block;
    background-color: rgba(38, 126, 173, 1);
    color: 00000;
    border: 0;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
}

.btn:focus {
    outline: 0;
}

.btn:active {
    transform: scale(0.95);
}

.text-register {
    margin-top: 20px;
}

.form-control input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #fff;
    display: block;
    width: 100%;
    padding: 10px 0;
    font-size: 1.2rem;
    color: #fff;
    
}

.form-control {
    position: relative;
    margin: 20px 0 40px;
    width: 300px;
}

.form-control input:focus, 
.form-control input:valid {
    outline: 0;
    border-bottom-color: #fff;
}

.form-control label {
    position: absolute;
    top: 10px;
    left: 0;
}

.form-control label span {
    display: inline-block;
    font-size: 1rem;
    min-width: 5px;
    transition: all 0.3s cublic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span, .form-control input:valid + label span {
    color: #fff;
    transform: translateY(-30px);
}